[DEFAULT]
rpc_backend = rabbit
auth_strategy = keystone
my_ip = {{ ansible_default_ipv4['address'] }}
enabled_backends = lvm
glance_api_servers = http://{{ groups['controller'][0] }}:9292
notification_driver = messagingv2

[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = cinder-volumes
iscsi_protocol = iscsi
iscsi_helper = lioadm
volume_clear=none
volume_clear_size=0

[database]
connection = mysql://cinder:{{ cinderdb_password }}@{{ groups['controller'][0] }}/cinder

[keystone_authtoken]
auth_uri = http://{{ groups['controller'][0] }}:5000
auth_url = http://{{ groups['controller'][0] }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = cinder
password = {{ cinder_password }}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

[oslo_messaging_rabbit]
rabbit_host = {{ groups['controller'][0] }}
rabbit_userid = openstack
rabbit_password = {{ rabbitmq_password }}
