- name: install packages
  tags: package
  package: name={{ item }} state=latest
  with_items:
    - openstack-ceilometer-compute
    - python-ceilometerclient
    - python-pecan

- name: install configuration
  tags: config
  template: src={{ item }}.j2 dest=/etc/ceilometer/{{ item }}
  with_items:
    - ceilometer.conf
    - pipeline.yaml

- name: start services
  tags: service
  service: name={{ item }} state=restarted enabled=yes
  when: not ansible_check_mode
  with_items:
    - openstack-ceilometer-compute
