[DEFAULT]
auth_strategy = keystone
rpc_backend = rabbit

[database]
connection = mysql+pymysql://aodh:{{ aodhdb_password }}@{{ groups['controller'][0] }}/aodh

[keystone_authtoken]
auth_uri = http://{{ groups['controller'][0] }}:5000
auth_url = http://{{ groups['controller'][0] }}:35357
memcached_servers = {{ groups['controller'][0] }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = aodh
password = {{ aodh_password }}

[oslo_messaging_rabbit]
rabbit_host = {{ groups['controller'][0] }}
rabbit_userid = openstack
rabbit_password = {{ rabbitmq_password }}

[service_credentials]
auth_url = http://{{ groups['controller'][0] }}:5000/v3
memcached_servers = {{ groups['controller'][0] }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = aodh
password = {{ aodh_password }}
interface = internalURL
region_name = RegionOne
