[DEFAULT]
auth_strategy = keystone
rpc_backend = rabbit

[database]
connection = mongodb://ceilometer:{{ ceilometerdb_password }}@{{ groups['controller'][0] }}:27017/ceilometer

[keystone_authtoken]
auth_uri = http://{{ groups['controller'][0] }}:5000
auth_url = http://{{ groups['controller'][0] }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = ceilometer
password = {{ ceilometer_password }} 

[oslo_messaging_rabbit]
rabbit_host = {{ groups['controller'][0] }}
rabbit_userid = openstack
rabbit_password = {{ rabbitmq_password }}

[service_credentials]
auth_url = http://{{ groups['controller'][0] }}:5000
auth_type = password
project_domain_name = default
user_domain_name = default
username = ceilometer
password = {{ ceilometer_password }}
project_name = service
interface = internalURL
region_name = RegionOne
