[linux_bridge]
physical_interface_mappings = {{ provider_network }}:{{ public_interface_name }}

[vxlan]
enable_vxlan = True
local_ip = {{ ansible_default_ipv4['address'] }}
l2_population = True

[agent]
prevent_arp_spoofing = True

[securitygroup]
enable_security_group = True
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
