[ml2]
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
mechanism_drivers = linuxbridge,l2population
extension_drivers = port_security

[ml2_type_flat]
flat_networks = {{ provider_network }}

[ml2_type_vxlan]
vni_ranges = 1:1000

[securitygroup]
enable_ipset = True
