[DEFAULT]

transport_url = rabbit://{% for host in groups['controller'] %}openstack:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}

core_plugin = ml2
service_plugins = router,neutron_lbaas.services.loadbalancer.plugin.LoadBalancerPluginv2
allow_overlapping_ips = True
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
nova_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:8774/v2

[keystone_authtoken]
auth_uri = http://{{ internal_vip_address|default(groups['controller'][0]) }}:5000
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = neutron
password = {{ neutron_password }}
memcached_servers = {% for host in groups['controller'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}

[database]
connection = mysql+pymysql://neutron:{{ neutrondb_password }}@{{ internal_vip_address|default(groups['controller'][0]) }}/neutron

[nova]
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_password }}

[oslo_concurrency]
lock_path = /var/lib/neutron/tmp

[oslo_messaging_notifications]
driver = messagingv2
