[DEFAULT]

transport_url = rabbit://{% for host in groups['controller'] %}openstack:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}

my_ip = {{ ansible_default_ipv4['address'] }}
network_api_class = nova.network.neutronv2.api.API
security_group_api = neutron
linuxnet_interface_driver = nova.network.linux_net.NeutronLinuxBridgeInterfaceDriver
firewall_driver = nova.virt.firewall.NoopFirewallDriver
enabled_apis=osapi_compute,metadata
instance_usage_audit = True
instance_usage_audit_period = hour
notify_on_state_change = vm_and_task_state
use_neutron = True
public_interface={{ public_interface_name }}

{% if virt_type|default('kvm') == 'lxc' %}
use_cow_images=False
{% endif %}

[database]
connection = mysql+pymysql://nova:{{ novadb_password }}@{{ internal_vip_address|default(groups['controller'][0]) }}/nova

[api_database]
connection = mysql+pymysql://nova:{{ novadb_password }}@{{ internal_vip_address|default(groups['controller'][0]) }}/nova_api

[cache]
backend = oslo_cache.memcache_pool
enabled = True
memcached_servers = {% for host in groups['controller'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}

[glance]
api_servers  = http://{{ internal_vip_address|default(groups['controller'][0]) }}:9292

[keystone_authtoken]
auth_uri = http://{{ internal_vip_address|default(groups['controller'][0]) }}:5000
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ nova_password }}
memcached_servers = {% for host in groups['controller'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}


[libvirt]
virt_type = {{ virt_type|default('kvm') }}
hw_machine_type = x86_64=pc-i440fx-rhel7.2.0

[neutron]
url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:9696
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:35357
auth_strategy = keystone
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
admin_tenant_name = service
username = neutron
password = {{ neutron_password }}
{% if ansible_hostname in groups['nova-controller'] %}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ metadata_secret }}
{% endif %}

[oslo_messaging_notifications]
driver = messagingv2

[vnc]
{% if ansible_hostname in groups['nova'] %}
enabled = True
{% endif %}
vncserver_listen = $my_ip
vncserver_proxyclient_address = $my_ip
novncproxy_base_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:6080/vnc_auto.html

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ internal_vip_address|default(groups['controller'][0]) }}:35357/v3
username = placement
password = {{ nova_placement_password }} 

[scheduler]
discover_hosts_in_cells_interval = 120
