[DEFAULT]
bind_ip = {{ ansible_default_ipv4['address'] }}
bind_port = 6000
user = swift
swift_dir = /etc/swift
devices = {{ swift_storage_dir }}

[pipeline:main]
pipeline = healthcheck recon object-server

[app:object-server]
use = egg:swift#object

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift
recon_lock_path = /var/lock

[filter:xprofile]
use = egg:swift#xprofile

[object-replicator]

[object-reconstructor]

[object-updater]

[object-auditor]

