[DEFAULT]

[token]
provider = fernet

[database]
connection =  mysql+pymysql://keystone:{{ keystonedb_password }}@{{ groups['controller'][0] }}/keystone

[cache]
backend = oslo_cache.memcache_pool
enabled = True
memcache_servers = localhost:11211
